---
import '@fontsource/oswald';
import '@fontsource/raleway';

---

<html lang="en" class="bg-primary">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Lucas Lima - About Me</title>
	</head>
	<body class="flex flex-col max-w-2xl m-auto mt-5 ml-3 mr-3 sm:m-auto sm:mt-5 gap-5">
        <a href="/" class="font-raleway text-sm text-secondary self-center hover:text-white">🡠 Go back</a>
        <p class="font-raleway text-sm text-justify text-secondary">I have a degree in Aerospace Engineering and in Science & Technology for Universidade Federal do ABC, notable for its interdisciplinary approach. With a passion for problem-solving and a keen eye for detail, I bring a unique perspective to web development.</p>
        <p class="font-raleway text-sm text-justify text-secondary">During my academic journey, I interned at Mercedes Benz, gaining practical experience in Project Management. I coordinated and executed projects, ensuring smooth operations and effective communication. Then, as a Business Intelligence Analyst at Universia, I worked with datasets, extracting insights and presenting actionable </p>
        <p class="font-raleway text-sm text-justify text-secondary">Beyond my professional experiences, I have a passion for photography. Through photography, I have learned to appreciate composition, balance, and visual aesthetics. This understanding of visual elements translates into my web development work, where I strive to create clean and visually appealing designs that engage users. Here are some of my favorite photos that I've taken:
        </p>
        <div class="flex gap-5 px-10 justify-center self-center">
            <img class="h-auto w-1/3 " src="/photo1.jpg" alt="">
            <img class="h-auto w-1/3 " src="/photo2.jpg" alt="">
            <img class="h-auto w-1/3 " src="/photo3.jpg" alt="">
        </div>
        <p class="font-raleway text-sm text-justify text-secondary">I'm excited to bring my technical expertise, analytical mindset, and collaborative approach to every web development project I undertake. Let's work together to turn ideas into reality.</p>
    </body>
</html>
