---
import '@fontsource/oswald';
import '@fontsource/raleway';
import Header from '../components/Header.astro';
import Intro from '../components/Intro.astro';
import TechStack from '../components/TechStack.astro';
---

<html lang="en" class="bg-primary">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Lucas Lima - Full Stack Developer</title>
	</head>
	<body class="flex flex-col max-w-2xl m-auto mt-5 ml-3 mr-3 sm:m-auto sm:mt-10">
		<Header />
		<Intro />
		<TechStack />
	</body>
</html>
