---
---

<html lang="en" class="bg-primary">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="flex flex-col max-w-2xl">
		<h1 class="font-bold text-3xl text-white">Lucas Lima</h1>
		<div class="bg-black  h-28"></div>
		<div class="flex items-center">
			<img src="/favicon.svg" alt="Lucas Lima" class="rounded-full max-h-28 aspect-square bg-slate-400" />
			<div class="flex flex-col ml-10 content-center justify-center">
				<span>blablablablab</span>
				<span class="flex-wrap">blablablablabdddddddddd dddddddddddddd dddddddddddddddddddddddddddddddd</span>
			</div>
			<div class="flex flex-col">
				<img src="/favicon.svg" alt="GitHub" class="rounded-full w-12 aspect-square bg-slate-400 mt-5" />
				<img src="/favicon.svg" alt="LinkedIn" class="rounded-full w-12 aspect-square bg-slate-400 mt-5"/>
				<img src="/favicon.svg" alt="Email" class="rounded-full w-12 aspect-square bg-slate-400 mt-5"/>
			</div>
		</div>
	</body>
</html>
