---

---

<h2 class="text-2xl mt-2 sm:mt-2 text-secondary font-oswald mb-2">I also like making games :)</h2>
<div class="flex flex-col gap-8 mb-10">
    <div class="flex flex-col sm:flex-row items-center">
        <img src="/railo_logo.png" decoding="sync" alt="Railo" class="w-full sm:w-3/5 h-auto rounded-lg ">
        <div class="flex flex-col sm:ml-4 mt-4 sm:mt-0">
            <h3 class="text-xl font-light text-secondary font-oswald mb-2">Railo</h3>
            <span class="text-secondary font-raleway text-left sm:text-justify">Guide the train and collect wagons in this challenging puzzle.
            </span>
            <a href='https://play.google.com/store/apps/details?id=com.lucaslima.railo&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank" class="w-2/3 self-center"><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' /></a>
        </div>
    </div>
</div>

