---

---

<>
    <div class="flex flex-row w-full justify-between">
        <h1 class="text-3xl sm:text-3xl text-secondary font-oswald">Lucas Lima</h1>
        <div class="flex flex-row gap-4" >
            <a  href="https://github.com/lucasferrazlima" target="_blank" id="github" class="flex gap-2">
                <img src="/github.svg" alt="GitHub" id="githubLogo" class="rounded-md w-6 aspect-square bg-primary m-auto " />
            </a>
            <a href="https://www.linkedin.com/in/lucas-ferraz-lima" target="_blank" id="linkedin" class="flex gap-2 hover:text-blue-50">
                <img src="/linkedin.svg" alt="LinkedIn" id="linkedinLogo" class="rounded-none w-6 aspect-square bg-primary m-auto"/>
            </a>
        </div>
    </div>
    <div class="relative w-full h-40 mt-4 overflow-hidden rounded-sm">
        <video class="absolute top-0 left-0 object-cover w-full h-full scale-150 sm:scale-100" autoplay loop muted playsinline>
            <source src="/sp_footage.mp4" type="video/mp4" />
        </video>
        <div class="absolute top-0 left-0 w-full h-full flex items-center bg-primary bg-opacity-70 p-4">
            <span class="text-secondary font-bold text-3xl sm:text-4xl font-oswald">FULL STACK DEVELOPER <br>
                BASED IN SÃO PAULO, BRAZIL </br> </span>	  
        </div>				
    </div>
</>
