---

---

<h1 class=" text-3xl sm:text-3xl text-secondary font-oswald">Lucas Lima</h1>
<div class="relative w-full h-40 mt-4 overflow-hidden rounded-sm">
	<video class="absolute top-0 left-0 object-cover  w-full h-full scale-150 sm:scale-100" autoplay loop muted>
		<source src="/sp_footage.mp4" type="video/mp4" />
		</video>
		<div class="absolute top-0 left-0 w-full h-full flex items-center  bg-primary bg-opacity-70 p-4">
		<span class=" text-secondary font-bold text-3xl sm:text-4xl font-oswald">FULL STACK DEVELOPER <br>
			BASED IN SÃO PAULO, BRAZIL</span>	  
	</div>				
</div>