---

---

<style>
    .highlighted {
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
            animation: 1.5s highlight 1.5s 1 normal forwards;
    background-color: none;
    background: linear-gradient(90deg, #4d4a4a 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    }

    @-webkit-keyframes highlight {
    to {
        background-position: 0 0;
    }
    }

    @keyframes highlight {
    to {
        background-position: 0 0;
    }
    }

    #github:hover span {
        color: #ffffff;
    }


    #linkedin:hover span {
        color: #0e76a8;
    }


  </style>

<div class="flex flex-col sm:flex-row items-center mt-4 sm:mt-6">
    <img src="/perfil1-min.jpg" alt="Lucas Lima" class="rounded-full h-16 sm:h-28 w-auto aspect-square  object-cover border-secondary border-2 ring-secondary ring-4 ring-opacity-40" />
    <div class="flex flex-1 flex-col sm:ml-4  -mt-2 sm:-mt-10 content-center justify-center ">
        <span class="text-secondary font-raleway text-justify p-5 sm:pl-4">
            <span class="highlighted"> Hi, I'm Lucas,</span> a passionate developer driven by curiosity and a love for <span class="highlighted">clean design.</span> Committed to continuous learning and professional growth, I aim to craft elegant solutions and <span class="highlighted">bring ideas to life.</span>
        </span>
    </div>
</div>

<div class="flex self-center sm:self-end gap-6 sm:gap-8 -mt-3 sm:-mt-6" >
    <a  href="https://github.com/lucasferrazlima" target="_blank" id="github" class="flex gap-2">
        <img src="/github.svg" alt="GitHub" id="githubLogo" class="rounded-md w-6 aspect-square bg-primary m-auto " />
        <span class="m-auto text-secondary font-raleway">GitHub</span>
    </a>
    <a href="https://www.linkedin.com/in/lucas-ferraz-lima" target="_blank" id="linkedin" class="flex gap-2 hover:text-blue-50">
        <img src="/linkedin.svg" alt="LinkedIn" id="linkedinLogo" class="rounded-none w-6 aspect-square bg-primary m-auto"/>
        <span class="m-auto text-secondary font-raleway">LinkedIn</span>
    </a>
    <a href="/about" class="text-secondary font-raleway hover:text-white cursor-pointer">
        About me →
    </a>
</div>

<script>

    const github = document.getElementById('github');
    const githubLogo = document.getElementById('githubLogo');
    const linkedin = document.getElementById('linkedin');
    const linkedinLogo = document.getElementById('linkedinLogo');

    github.addEventListener('mouseover', () => {
        githubLogo.setAttribute('src', '/github-hover.svg');
    });

    github.addEventListener('mouseout', () => {
        githubLogo.setAttribute('src', '/github.svg');
    });

    linkedin.addEventListener('mouseover', () => {
        linkedinLogo.setAttribute('src', '/linkedin-hover.svg');
    });

    linkedin.addEventListener('mouseout', () => {
        linkedinLogo.setAttribute('src', '/linkedin.svg');
    });

</script>