---

---

<h2 class="text-2xl mt-8 sm:mt-8 text-secondary font-oswald mb-2">Projects</h2>
<div class="flex flex-col gap-8 mb-10">
    <div class="flex flex-col sm:flex-row items-center">
        <img src="/scholarly.svg" alt="Scholarly" class="w-full sm:w-3/5 h-auto rounded-lg">
        <div class="flex flex-col sm:ml-4 mt-4 sm:mt-0">
            <h3 class="text-xl font-light text-secondary font-oswald mb-2">Scholarly</h3>
            <span class="text-secondary font-raleway text-left sm:text-justify">Scholarly is a student schedule management web app with task tracking and a Pomodoro-based focus timer.</span>
            <a href="https://github.com/lucasferrazlima/academic-planner" target="_blank" class="text-secondary font-raleway hover:text-white self-end mt-2">See more 🡢</a>
        </div>
    </div>
    <div class="flex flex-col sm:flex-row items-center">
        <img src="/news.svg" alt="News Pulse" class="w-full sm:w-3/5 h-auto rounded-lg">
        <div class="flex flex-col sm:ml-4 mt-4 sm:mt-0">
            <h3 class="text-xl font-light text-secondary font-oswald mb-2">News Pulse</h3>
            <span class="text-secondary font-raleway text-left sm:text-justify">News Pulse is a user-friendly news aggregator app with the latest news from various sources and categories.</span>
            <a href="https://github.com/lucasferrazlima/news-aggregator" target="_blank" class="text-secondary font-raleway hover:text-white self-end mt-2">See more 🡢</a>
        </div>
    </div>
</div>

