---

---

<h2 class=" text-2xl mt-8 sm:mt-12 text-secondary font-oswald mb-2">Projects</h2>
<div class="flex flex-col">
    <div class="flex flex-col sm:flex-row">
        <img src="/scholarly.svg" alt="placehoScholarlylder" class="sm:w-3/5">
        <div class="flex flex-col sm:ml-4 ">
            <h3 class=" text-1xl text-secondary font-oswald mb-2">Scholarly</h3>
            <span class="text-secondary font-raleway text-left ">Scholarly is a web application designed to help students manage their academic schedule.</span>
            <a href="" class="text-secondary font-raleway hover:text-white self-end mt-2">See more 🡢</a>
        </div>
    </div>
</div>