---

---

<h2 class=" text-2xl mt-8 sm:mt-12 text-secondary font-oswald mb-2">Technology Stack</h2>
<div class="grid grid-cols-5 gap-2 px-2 py- justify- rounded-xl bg-white bg-opacity-5">
    <img src="/react.svg" alt="React" class="aspect-square h-3/5  self-center m-auto">
    <img src="/nodeJS.svg" alt="NodeJS" class="aspect-square h-3/5  self-center m-auto">
    <img src="/mongoDB.svg" alt="MongoDB" class="aspect-square h-3/5  self-center m-auto"> 
    <img src="/nextJS.svg" alt="NextJS" class="aspect-square h-3/5  self-center m-auto">
    <img src="/express.svg" alt="Express" class="aspect-square h-3/5  self-center m-auto">
    <img src="/styledComponents.svg" alt="Styled Components" class="aspect-square h-3/5  self-center m-auto">
    <img src="/tailwind.svg" alt="Tailwind CSS" class="aspect-square h-3/5  self-center m-auto">
    <img src="/git.svg" alt="Git" class="aspect-square h-3/5  self-center m-auto">
    <img src="/jest.svg" alt="Jest" class="aspect-square h-3/5  self-center m-auto">
    <img src="/astro.svg" alt="Astro" class="aspect-square h-3/5  self-center m-auto">
</div>