---

---

<h2 class="text-2xl mt-8 sm:mt-8 text-secondary font-oswald mb-2">Technology Stack</h2>
<div class="grid grid-cols-4 sm:grid-cols-6 px-2 py-2 rounded-xl bg-white bg-opacity-5 items-center justify-center">
  <img src="/react.svg" alt="React" class="w-3/5 h-3/5 self-center m-auto">
  <img src="/mongoDB.svg" alt="MongoDB" class="w-3/5 h-3/5 self-center m-auto"> 
  <img src="/nodeJS.svg" alt="NodeJS" class="w-2/5 h-3/5 self-center m-auto object-center">
  <img src="/express.svg" alt="Express" class="w-3/5 h-3/5 self-center m-auto">
  <img src="/ts.svg" alt="Typescript" class="w-3/5 h-3/5 self-center m-auto">
  <img src="/nextJS.svg" alt="NextJS" class="w-3/5 h-3/5 self-center m-auto">
  <img src="/git.svg" alt="Git" class="w-2/5 h-3/5 self-center m-auto">
  <img src="/tailwind.svg" alt="Tailwind CSS" class="w-3/5 h-3/5 self-center m-auto">
  <img src="/styledComponents.svg" alt="Styled Components" class="w-3/5 h-3/5 self-center m-auto">
  <img src="/redux.svg" alt="Redux" class="w-3/5 h-3/5 self-center m-auto">
  <img src="/jest.svg" alt="Jest" class="w-3/5 h-3/5 self-center m-auto">
  <img src="/webpack.svg" alt="Webpack" class="w-3/5 h-3/5 self-center m-auto">

</div>
